* {box-sizing: border-box}
.list__img {display: none}
img {vertical-align: middle;}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide {
    width: 60%;
    height: 400px;
    background-color: rgb(8, 165, 165);
    position: relative;
}

.slide img {
    width: 100%;
    height: 400px;
}

.control-prev {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 100px;
    background-color: #ccc;
    opacity: 0.3;
    border: none;
}

.control-next {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 100px;
    background-color: #ccc;
    opacity: 0.3;
    border: none;
}

.control-prev:hover,
.control-next:hover {
    background-color: #f13434;
}

.icon-check {
    font-size: 30px;
    color: rgb(34, 255, 0);
}

.node {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;

}

.item-check {
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 20px 10px;
    opacity: 0.5;
}

/* Fading animation */
.fade {
    animation: fade 2 linear;
  }
  
@keyframes fade {
    from {
        opacity: 0.4;
    } 
    to {
        opacity: 1;
    }
}


.active, .item-check:hover {
background-color: #f13434;
}

